# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Docker
.dockerignore

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Kubernetes secrets (never commit real secrets)
*-secret.yaml
